# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ninja
*.ninja_deps
*.ninja_log
*.log 
*.cmake
*.bin

TestOpenCV/.vscode/launch.json
TestOpenCV/.vscode/settings.json
TestOpenCV/.vscode/tasks.json
TestOpenCV/build/compile_commands.json
TestOpenCV/build/CMakeFiles/testOpenCV_autogen.dir/AutogenInfo.json
TestOpenCV/build/CMakeFiles/testOpenCV_autogen.dir/AutogenUsed.txt
.gitignore
TestOpenCV/build/testOpenCV_autogen/moc_predefs.h
TestOpenCV/build/testOpenCV_autogen/mocs_compilation.cpp
TestOpenCV/build/DartConfiguration.tcl
TestOpenCV/build/CMakeCache.txt
TestOpenCV/build/CMakeFiles/cmake.check_cache
TestOpenCV/build/testOpenCV
TestOpenCV/build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
TestOpenCV/build/CMakeFiles/testOpenCV_autogen.dir/ParseCache.txt
TestOpenCV/build/CMakeFiles/TargetDirectories.txt
TestOpenCV/build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
.vscode/launch.json
.vscode/task.json
.vscode/tasks.json
.vscode/settings.json
.gitignore
Employee/build/.gdb_history
Employee/build/CMakeFiles/employee.dir/build.make
Employee/build/CMakeFiles/employee.dir/compiler_depend.make
Employee/build/CMakeFiles/employee.dir/flags.make
Employee/build/CMakeFiles/employee.dir/flags.make
.vscode/c_cpp_properties.json
